In [3]:
import math
import collections
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [12]:
df_train = pd.read_csv('train.csv')

In [11]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5460 entries, 0 to 5459
Data columns (total 14 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   index                                       5460 non-null   int64
 1   Cinsiyet                                    5460 non-null   object
 2   Yaş Grubu                                   5460 non-null   object
 3   Medeni Durum                                5460 non-null   object
 4   Eğitim Düzeyi                               5460 non-null   object
 5   İstihdam Durumu                             5460 non-null   object
 6   Yıllık Ortalama Gelir                       5460 non-null   float64
 7   Yaşadığı Şehir                              5460 non-null   object
 8   En Çok İlgilendiği Ürün Grubu               5460 non-null   object
 9   Yıllık Ortalama Satın Alım Miktarı          5460 non-null   float64
 10  Yıllık Ortalama Sipariş Verilen Ürün Adedi  5460 non-null   float64
 11  Eğitime Devam Etme Durumu                   5460 non-null   object
 12  Öbek İsmi                                   5460 non-null   object
 13  Yıllık Ortalama Sepete Atılan Ürün Adedi    5460 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 597.3+ KB

In [10]:
df_test = pd.read_csv('test_x.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   index                                       2340 non-null   int64
 1   Cinsiyet                                    2340 non-null   object
 2   Yaş Grubu                                   2340 non-null   object
 3   Medeni Durum                                2340 non-null   object
 4   Eğitim Düzeyi                               2340 non-null   object
 5   İstihdam Durumu                             2340 non-null   object
 6   Yıllık Ortalama Gelir                       2340 non-null   float64
 7   Yaşadığı Şehir                              2340 non-null   object
 8   En Çok İlgilendiği Ürün Grubu               2340 non-null   object
 9   Yıllık Ortalama Satın Alım Miktarı          2340 non-null   float64
 10  Yıllık Ortalama Sipariş Verilen Ürün Adedi  2340 non-null   float64
 11  Eğitime Devam Etme Durumu                   2340 non-null   object
 12  Yıllık Ortalama Sepete Atılan Ürün Adedi    2340 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 237.8+ KB

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   index                                       2340 non-null   int64
 1   Cinsiyet                                    2340 non-null   object
 2   Yaş Grubu                                   2340 non-null   object
 3   Medeni Durum                                2340 non-null   object
 4   Eğitim Düzeyi                               2340 non-null   object
 5   İstihdam Durumu                             2340 non-null   object
 6   Yıllık Ortalama Gelir                       2340 non-null   float64
 7   Yaşadığı Şehir                              2340 non-null   object
 8   En Çok İlgilendiği Ürün Grubu               2340 non-null   object
 9   Yıllık Ortalama Satın Alım Miktarı          2340 non-null   float64
 10  Yıllık Ortalama Sipariş Verilen Ürün Adedi  2340 non-null   float64
 11  Eğitime Devam Etme Durumu                   2340 non-null   object
 12  Yıllık Ortalama Sepete Atılan Ürün Adedi    2340 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 237.8+ KB

In [16]:
df_train["Cinsiyet"].unique()

array(['Kadın', 'Erkek'], dtype=object)

In [17]:
df_train["Yaş Grubu"].unique()

array(['31-40', '>60', '18-30', '51-60', '41-50'], dtype=object)

In [19]:
df_train["Medeni Durum"].unique()

array(['Bekar', 'Evli'], dtype=object)